.round{
  border-radius: 50%;
}

.rectangle{
  width:200px;
  height:200px;
  padding: 6px;
}

aside {
  width: 10%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: white;
}

.flex-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #63B3ED;
  flex-direction: column;
  row-gap: -6px;
  padding: 23px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  align-items: center;
  justify-content: center
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #2C5282;
  color: #FFFFFF;
}

.about {color: #000000;
  font-family:Georgia,
  'Times New Roman', Times, serif;
  background-color: #E2E8F0;
  padding: 10px;

}

h3 {
  color:#48BB78;
}

body{
  font-size: 18px;
  color: #2d3748;
  font-family: -apple-system, BlinkMacSystemFont,"Segoe
  UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

